/* pixel/8 */

.it_nav_whitebox{
    height: 25vh;
    width: 3vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #707070;
    opacity: 1;
    left: 98%;
    top: -10%;
    position: relative;

}
    
 
    
 .bluebox{
    position: relative;
    height:60vh;
    background: #D1EDF9 0% 0% no-repeat padding-box;
    border: 2px solid #000000;
    opacity: 1;
}

.page-title {
    /* blueboxにあった２つを移動 */
    display:flex;
    flex-flow: column;
    /*
      親要素(bluebox)にrelativeを指定して，
      親要素の範囲でabsoluteを使うと，
      右上の実装が楽になる！
    */
    position: absolute;
    right: 0;
    }

.long_child{
    display: inline-flex;
    text-align: center;
    font: normal normal normal 57px/ Hiragino Kaku Gothic ProN;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #FFBBCD 0% 0% no-repeat padding-box;
    border: 3px solid #707070;
    opacity: 1;
    position: relative;
    /* width: 10vw; */
    /* left: 83vw; */
    /* bottom: 28vh; */
    font-size: 3vh;
    width: 2em; /* emは文字サイズの何倍かで指定できる．文字サイズが18pxだったら2emは36px */
}
    
    .white_box{

    padding:70 160px;
    width: 90vw;
    height: 36vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #707070;
    opacity: 1;
    }
  
.white_box p{
    margin: 3% 7%;
    text-align: center;
}
    
   .woman{


    transform: scale(-1, 1);

    width: 327px;
    height: 189px;
    opacity: 1;
    
    }

.white_box_syd {
display: flex;
justify-content: center;
position: relative;
top: 100px;
}    
    

.white_box_syd h2{
 background:transparent;

background: #FFFFFF 0% 0% no-repeat padding-box;
border: 6px solid #707070;
opacity: 1;
}


.container_lab{
   
    height: 86vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;;
    border: 2px solid #000000;
    opacity: 1;

}

.flex_test_box{
display: flex;
    justify-content: space-around;
    font-size: 25px;
   margin-top: 7%;
   margin-bottom:20%;
}

.flex_test-item{
text-align: center;
font: normal normal normal 26px/40px Hiragino Kaku Gothic ProN;
letter-spacing: 0px;
color: #434343;
opacity: 1;

background: #FCBDCE 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 10px;
opacity: 1;
}


.flex_syd{
display: flex;
 justify-content: center;
 font: normal normal normal 24px/26px Hiragino Kaku Gothic ProN;
letter-spacing: 0px;
color: #434343;
opacity: 1;
}

.flex_client{
  
display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;

}

.container_lab2{
 
    height: 86vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;;
    border: 2px solid #000000;
    opacity: 1;

}

   